@model DateTime

@{
    var days = new List<SelectListItem>();
    for (int i = 1; i <= 31; i++)
    {
        days.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString() });
    }

    var months = new List<SelectListItem>();
    for (int i = 1; i <= 12; i++)
    {
        months.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString() });
    }

    var startYear = ViewBag.StartYear;
    var endYear = ViewBag.EndYear;
    
    var years = new List<SelectListItem>();
    for (int i = startYear; i <= endYear; i++)
    {
        years.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString() });
    }
}
<div>
    @Html.DropDownList("Day", days, new { @class = "form-control" })
</div>
<div>
    @Html.DropDownList("Month", months)
</div>
<div>
    @Html.DropDownList("Year", years)
</div>
